@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

header {
    text-align: center;
    height: 30vh;
    background-color: rgb(89, 165, 89);
    padding: 200px;
    font-size: 30px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

a {
    text-decoration: none;
    color:white;
}

.buttons {
    display:flex;
    justify-content: space-evenly;
    border-radius: 25px;
}

.buttons > button {
    margin: 10px;
    background-color: green;
    border: none;
    color:white;
    height: 30px;
    width: 100px;
    outline: none;
}

.buttons > button:hover {
    background-color: rgb(4, 75, 4);
}

.buttons > button:active {
    background-color: rgb(8, 46, 8);
}

body {
    font-family: 'Amatic SC';
}

h1 {
    margin:0;
    font-size: 200px;
    color:white;
}

h2 {
    margin:20px;
    color:black;
}

#aboutMe {
    text-align: center;
}

#aboutMe > h2 {
    text-align: center;
}

p {
    font-family:"arial";
    text-align: center ;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 2;
}

#allBoxes {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    width: 100%;
}

.box {
    font-size: 12px;
}

.textbox1 {
    background-color: rgb(163, 248, 163);
}

.textbox2 {
    background-color: rgb(216, 251, 152);
}

.textbox3 {
    background-color: rgb(152, 220, 251);
}