@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

h1 {
    margin:0;
    font-size: 200px;
    color:white;
}

h2 {
    color:black;
}

.head {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    height:20vh;
    background-color: rgb(89, 165, 89);
    padding: 200px;
    font-size: 30px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

a {
    text-decoration: none;
    color:white;
}

.buttons {
    display:flex;
    justify-content: flex-start;
    border-radius: 25px;
    margin-top:-10px;
}

.buttons > button {
    font-family: 'Amatic SC';
    margin: 10px;
    background-color: green;
    border: none;
    color:white;
    height: auto;
    width: 33%;
    outline: none;
    font-size: 30px;
    transition-duration: 1s;
}

.buttons > button:hover {
    background-color: rgb(4, 75, 4);
    transition-duration: 1s;
}

.buttons > button:active {
    background-color: rgb(8, 46, 8);
}

body {
    font-family: 'Amatic SC';
}

button {
    margin:0;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
}

#welcome {
    text-align: center;
}

p {
    font-family:"arial";
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 2;
}

#allBoxes {
    width: 100%;
    align-content: space-around;
}

.box {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 12px;
}

.textbox1, .textbox2 {
    background: rgba(94, 93, 93, 0.575);
    transition-duration: 1s;
}

.textbox1:hover {
    background-color: rgb(163, 248, 163);
    transition-duration: 1s;
}

.textbox2:hover {
    background-color: rgb(83, 187, 106);
    transition-duration: 1s;
}

.box > h2 {
    font-size: 50px;
    margin-left : 30px;
    text-decoration: underline;
    color:white;
    text-align: center;
}